img.logo {
  height: 50px;
}

div.product {
  margin-left: auto;
  margin-right: auto;
  width: 72%;
}

div.blog {
  margin-left: auto;
  margin-right: auto;
  width: 72%;
}

div.mainCatalog {
  width: 72%;
  margin-left: auto;
  margin-right: auto;
}

p.card-title a {
  color: #8f5d5d;
  color: #664f5c;
  text-decoration: none;
}
p.card-title {
  margin-bottom: 0;
}
p.card-title a:hover,
p.card-title a:active {
  color: #8f5d5d;
  opacity: 0.75;
  transition-duration: 0.4s;
}

p.info {
  float: right;
}
div.info-footer {
  position: relative;
  top: 100px;
  width: 200px;
}

img.cardImg {
  width: inherit;
  height: 240px;
  object-fit: cover;
  vertical-align: middle;
}
div.card-body {
  height: 50px;
  padding: 10px 0 0 10px;
}

.text-muted {
  float: right;
  color: #664f5c;
}

div.card-footer {
  border: none;
  padding-top: 0;
}

div.productCards {
  padding: 0;
  margin-left: 15px;
}

div.card {
  height: 330px;
  padding: 0;
}

div.megamenu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 72%;
  margin-bottom: 20px;
}

div.table {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 72%;
  margin-bottom: 20px;
}

.index-title {
  color: #664f5c;
  text-decoration: none;
}

#demotext {
  text-shadow: 0 0 10px #ffffff;
  color: #664f5c;
  font-size: 20px;
  text-align: center;
  margin: 0;
}

html {
  height: -webkit-fill-available;
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}
.lh-tight {
  line-height: 1.25;
}

button.slick-prev:before,
button.slick-next:before {
  color: #664f5c;
}

.parent {
  color: #664f5c;
  font-weight: bold;
}

.gallery-single {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 72%;
  margin-bottom: 30px;
}
.gallery-single div img {
  width: inherit;
  height: 400px;
  object-fit: cover;
  vertical-align: middle;
}

header ul.header > li a {
  color: #8f5d5d;
  text-decoration: none;
}

header ul.header > li a {
  border-color: #8f5d5d;
}

header ul.header a:hover {
  color: #664f5c;
  opacity: 0.75;
  transition-duration: 0.4s;
}

a.login:link,
a.login:visited {
  background-color: white;
  color: black;
  border: 2px solid #e07a5f;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100px;
  border-radius: 3px;
  transition-duration: 0.4s;
}

a.login:hover,
a.login:active {
  background-color: #e07a5f;
  color: white;
}

a.buy:link,
a.buy:visited,
a.buy:hover,
a.buy:active {
  background-color: #e07a5f;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  border-radius: 3px;
}

.footer-clean {
  padding: 50px 0;
  background-color: #fff;
  color: #8f5d5d;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #e07a5f;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
